-- Add version_id columns to main tables
ALTER TABLE daftaralat ADD COLUMN IF NOT EXISTS version_id INTEGER REFERENCES data_versions(version_id);
ALTER TABLE kalibrasi ADD COLUMN IF NOT EXISTS version_id INTEGER REFERENCES data_versions(version_id);
ALTER TABLE logaktivitas ADD COLUMN IF NOT EXISTS version_id INTEGER REFERENCES data_versions(version_id);

-- Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_daftaralat_version ON daftaralat(version_id);
CREATE INDEX IF NOT EXISTS idx_kalibrasi_version ON kalibrasi(version_id);
CREATE INDEX IF NOT EXISTS idx_logaktivitas_version ON logaktivitas(version_id);
