-- Test versioning dengan query yang benar:
SELECT 
  v.version_name,
  v.description,
  v.snapshot_date,
  v.created_by,
  COUNT(d.no_id) as daftaralat_count,
  COUNT(DISTINCT k.no_id) as kalibrasi_count,
  COUNT(DISTINCT l.no) as log_count
FROM data_versions v
LEFT JOIN daftaralat d ON d.version_id = v.version_id
LEFT JOIN kalibrasi k ON k.version_id = v.version_id  
LEFT JOIN logaktivitas l ON l.version_id = v.version_id
GROUP BY v.version_id, v.version_name, v.description, v.snapshot_date, v.created_by
ORDER BY v.snapshot_date DESC
LIMIT 10;
